:root {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #cd7732;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-color: rgba(255, 255, 255, 0.87);
  --main-backgroundColor: #cd7732;
  --secondary-color: #c532cd;
  --secondary-alt: #3288cd;
}

a {
  font-weight: 500;
  color: var(--secondary-color);
  text-decoration: underline;
}
a:hover {
  color: var(--secondary-alt);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: none;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  width: 130px;
  height: auto;
  cursor: pointer;
  margin-right: 12px;
}
button:hover {
  background: var(--main-color);
  color: var(--secondary-alt);
  border: 1px solid var(--secondary-alt);
  opacity: 75%;
}

button:focus,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}

h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 4.8em;
  line-height: 1.2;
}

h2 {
  font-family: "Major Mono Display", monospace;
  font-size: 2.4em;
  line-height: 1;
}

h3 {
  font-family: "Major Mono Display", monospace;
}

h4 {
  font-family: "Roboto Mono", monospace;
}

h5 {
  font-family: "Roboto Mono", monospace;
}

.App {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

.site-header {
  text-align: left;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100vh;
}

.site-title {
  text-align: center;
}

.section-title {
  text-align: left;
  min-width: 90vw;
  border-bottom: 1px solid var(--main-color);
}

#header-btn {
  position: absolute;
  bottom: 12px;
  min-width: 150px;
  height: auto;
  border: none;
}

#header-btn:hover {
  background: none;
  opacity: 75%;
}

#header-btn:focus {
  outline: none;
}

.about {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-between;
  min-width: 100%;
  height: auto;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  height: auto;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

.portfolio {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 90%;
  height: auto;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

.portfolio-item {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.portfolio-item-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: space-between;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.project-summary-right {
  max-width: 35%;
  padding-left: 5%;
}

.project-summary-left {
  max-width: 35%;
  padding-right: 5%;
}

.project-display {
  max-width: 45%;
  height: auto;
}

.project-img {
  max-width: 480px;
  height: auto;
}

.left-img {
  box-shadow: -120px -20px var(--main-color);
}

.right-img {
  box-shadow: 120px -20px var(--main-color);
}

.portfolio-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.footer {
  background-color: var(--main-color);
  color: var(--main-backgroundColor);
  position: static;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  height: 10vh;
}

.footer a {
  color: var(--main-backgroundColor);
}

.footer a:hover {
  color: var(--secondary-alt);
  opacity: 70%;
}

.form-container {
  height: 100%;
  padding-bottom: 5vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-title {
  text-align: center;
}

.thanks-message {
  height: 100%;

  font-size: larger;
  padding: 5vh;
  text-align: center;
  color: var(--main-color);
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-btn button {
  background: #ffffff18;
}

.form-btn button:hover {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

input {
  font-family: "Roboto Mono", monospace;
  min-width: 100%;
  height: auto;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: 1px solid var(--main-color);
  border-radius: 8px;
  background: #ffffff18;
}

textarea {
  min-width: 100%;
  height: 20vh;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: 1px solid var(--main-color);
  border-radius: 8px;
  background: #ffffff18;
  font-family: "Roboto Mono", monospace;
}

label {
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
}

textarea::placeholder,
input::placeholder {
  color: var(--main-color);
  opacity: 75%;
}

.arrow {
  border: solid var(--main-color);
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 25px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  animation: fadeIn 11s;
  -webkit-animation: fadeIn 11s;
  -moz-animation: fadeIn 11s;
  -o-animation: fadeIn 11s;
  -ms-animation: fadeIn 11s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
